@use "../styles/mixin.scss";


.input {
  @include mixin.input;
  border-bottom: 2px solid #f5f5f5;

  &:focus {
    outline: 2px solid #f5f5f5;
    border: none;
    border-radius: 4px;
    // border: 0.5px solid rgb(190, 15, 15)
  }
}