<ul class="nav" >
    <li routerLink = "/home" routerLinkActive = "active-link">Home</li>
    <!-- <li routerLink = "/employe-detail"  routerLinkActive = "active-link" >Employee Detail</li> -->
<li routerLink = "/employe-form"  routerLinkActive = "active-link"   [routerLinkActiveOptions]="{ exact: true }">EmployeeForm</li>
<li routerLink = "/employe-list" routerLinkActive = "active-link">EmployeeList</li>
<li routerLink="/user-detail" routerLinkActive = "active-link">User Detail</li>
<!-- <li routerLink="/view-employe" routerLinkActive = "active-link">View Employ</li> -->
<li routerLink = "/logIn" routerLinkActive = "active-link">Logout</li>
</ul>