@use '../../styles/mixin';
@use "../../styles/input.scss";
@use '../../styles/button.scss';
// @mixin flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

$padding: 40px;

// @mixin bgAndtext {
//   background-color: orangered;
//   color: white;
// }

// @mixin input {
//   padding: 5px 8px;
//   margin-bottom: 10px;
//   width: 300px;
//   height: 40px;
//   border: none;
// }



section {
  @include mixin.flex-center;
  @include mixin.bgAndtext;
  height: fit-content;
  overflow: hidden;
}

.left-div {
  flex: 1;
  padding: $padding;
  margin: 20px;
}

.right-div {
  border-radius: 50px 0 0 50px;
  background-color: aqua;
  flex: 1;
  padding: $padding;
  color: black;
  background: white;
}

// .input {
//   @include mixin.input;
//   border-bottom: 2px solid #f5f5f5;

//   &:focus {
//     outline: 2px solid #f5f5f5;
//     border: none;
//     border-radius: 4px;
//     // border: 0.5px solid rgb(190, 15, 15)
//   }
// }

// button {
//   @include mixin.bgAndtext;
//   @include mixin.input;
//   border-radius: 50px;
// }

a {
  color: orangered;
}

.inner-right {
  text-align: center;
}

.btn-div {
  margin-top: 10px;
}

.active {
  background-color: orangered;
  color: white;
  border-radius: 5px;
  padding: 10px;
}