*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// .active-link {
//   background-color: orangered;
//   color: white;
//   border-radius: 5px;
//   padding: 10px;
//   width: fit-content;
//   opacity: 0.8;
// }

// .nav{
//     display: flex;
//     list-style: none;
//     justify-content: center;
//     align-items: center;
// }

// li{
//     margin: 10px 20px;
// }
